<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
    <title>Discussions</title>
</head>
<body>
<div class="container">
    <h1>Discussions</h1>
    <a th:href="@{/discussion/new}" class="btn btn-primary mb-3">Create New Discussion</a>

    <div class="list-group">
        <div th:each="discussion : ${discussions}">
            <a th:href="@{/discussion/{id}(id=${discussion.id.toString()})}" class="list-group-item list-group-item-action">
                <h5 th:text="${discussion.content}">Discussion Title</h5>
                <p th:text="${discussion.createdAt}">Date Created</p>
            </a>
        </div>
    </div>
</div>
</body>
</html>
